<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CVK_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CVK_AnSim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SHADERS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>assignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>rollercoaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17844D1EEF214B79BD9B4302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C066FA9B15A4ACCAB9F7C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53D9BE5893584F8DB2681EF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C91DD9FB7B4C738E0FC048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C8377A62AE14000ADA95BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B88A4D5CEC1140E5B7083264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2BC6EEFEE6941F8B720E9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
